body{
    background-color: rgb(26, 21, 21);
}
.container
{
   gap: 4rem;
    position: absolute;
    top: 50;
    left: 50;
    display: flex;
    flex-direction: row;
    transform: translate(50% ,50%);
    
}
@keyframes name {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
    
}
.image{
    height: 200px;
    width: 200px;
    animation: name 2.5s infinite alternate ease-in-out;
}

.image img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 3px;
}
.title{
    color: white;
    display: flex;
    flex-direction: column;
}